<div class="row mx-3 my-3">
  <div class="col-auto">
    <button class="btn btn-primary" (click)="openCustomerDialog()">
      Add a new Customer
    </button>
  </div>
</div>

<div class="row mx-3">
  <h5>Customer Details</h5>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Customer Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Registration Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let customer of customerDetails">
        <th scope="row">{{customer.customerId}}</th>
        <td>{{customer.firstName}} {{customer.lastName}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.registrationDate}}</td>
        <td>
          <button class="btn btn-sm btn-warning me-2" (click)="openEditDialogBox(customer)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="openConfirmDialog(customer.customerId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
